# Ignore everything
*
# Whitelist subdirectories
!*/
!/.idea/**

# Whitelist the following extensions
!*.java
!*.go
!.gitignore
!nvcalc
!*.xml
!*.iml

# Ignore the following directories
workspace.xml
tasks.xml